@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
@import 'bootstrap/scss/bootstrap-grid';
@import './variables';
@import './base';
@import './nprogress';
@import './components';
@import './select';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
