.page.page--category {
  margin-top: 26px;

  .page__title {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@include media-breakpoint-up(lg) {
  .page.page--category {
    margin-top: 42px;

    .page__title {
      font-size: 46px;
    }
  }
}
